.manage-doctor-container {
    padding: 5px;
    .manage-doctor-title {
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .create-content-doctor,
    .save-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }
    .save-content-doctor {
        background: orange;
    }
    .create-content-doctor {
        background: rgb(11, 93, 216);
        color: white;
    }
    .more-info {
        display: flex;
        gap: 15px;
        padding-bottom: 15px;

        .content-left {
            width: 40%;
        }

        .content-right {
            width: 40%;
        }
    }
}
